@{
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();

}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @*
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*@
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <title>@(ViewBag.Title + ViewBag.SystemName)</title>
    @await Html.PartialAsync("MyStyle")
    @RenderSection("styles", required: false)
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md" style="">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top" style="display:none;" id="page-wrapper-page-header">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html">
                        <img src="" style="width: 135px; margin: 7px 0 0;" alt="logo" class="logo-default">
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    @await Html.PartialAsync("_Head")
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper" style="display:none;" id="page-wrapper-page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    @await Html.PartialAsync("_Menus")
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height: 1938px;">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title" style="margin:0 0;">
                        @{
                        var titleRender = RenderSection("Title", required: false);
                        var titleRenderStr = titleRender == null ? "" : titleRender.Value;
                        if (!string.IsNullOrWhiteSpace(titleRenderStr))
                        {
                        @Html.Raw(titleRenderStr);
                        }
                        else
                        {
                        @Html.Raw(ViewBag.Title);
                        }
                        }
                        <small>
                            @{
                            var smallRender = RenderSection("Small", required: false);
                            var smallRenderStr = smallRender == null ? "" : smallRender.Value;
                            if (!string.IsNullOrWhiteSpace(smallRenderStr))
                            {
                            @Html.Raw(smallRenderStr);
                            }
                            else
                            {
                            @Html.Raw(ViewBag.Small);
                            }
                            }
                        </small>
                    </h1>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    <div style="min-height:700px;padding-top:10px;">
                        <div class="portlet light bordered">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
            <div class="page-quick-sidebar-wrapper" id="page-wrapper-page-quick-sidebar-wrapper" style="display:none;" data-close-on-body-click="false">
                <div class="page-quick-sidebar">
                    @await Html.PartialAsync("_SideBar")
                </div>
            </div>
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer" style="display:none;" id="page-wrapper-page-footer">
            @await Html.PartialAsync("_Foot")
        </div>
        <!-- END FOOTER -->
    </div>
    <!-- BEGIN QUICK NAV -->
    <!-- END QUICK NAV -->
    <!--[if lt IE 9]>
    <script src="~/assets/global/plugins/respond.min.js"></script>
    <script src="~/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    @await Html.PartialAsync("MyScript")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        jQuery.support.cors = true;
        $(function () {
            $("#showModal").on("hidden.bs.modal", function () {
                $(this).removeData("bs.modal");
            });

            //判断浏览器类型
            var browser = {
                versions: function () {
                    var u = navigator.userAgent;
                    return {
                        trident: u.indexOf('Trident') > -1, //IE内核
                        presto: u.indexOf('Presto') > -1, //opera内核
                        webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                        gecko: u.indexOf('Firefox') > -1, //火狐内核Gecko
                        mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                        ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios
                        android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android
                        iPhone: u.indexOf('iPhone') > -1, //iPhone
                        iPad: u.indexOf('iPad') > -1, //iPad
                        webApp: u.indexOf('Safari') > -1 //Safari
                    };
                }()
            }
            if (browser.versions.trident) {
                if (confirm("您正在使用IE内核浏览器，为了不影响您的使用，请修改为极速模式或者下载最新版的谷歌浏览器！")) {
                    window.open("/Home/UnderIE8");
                }
            }
        });

    </script>
</body>
</html>
